html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/application.css")
  body
    nav(class="navbar navbar-light bg-faded")
      a(class="navbar-brand" href="/") User Information Application

      form(class="in-application-search form-inline float-xs-left")
        input(class="form-control" type="text" placeholder="Search")
        ul.search-results
        button(class="btn btn-success" type="submit") Search


      ul.nav.navbar-nav.float-xs-right
        li.nav-item
          a(class="navbar-text" href="/users/new") NEW USER
        li.nav-item
          a(class="navbar-text" href="/search") SEARCH
        li.nav-item
          button(class="btn btn-success like-button") LIKE THE APP
    block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="/js/custom.js")
